:root {
  --text-color: #fcfcfd;
  --primary-color: #3b71fe;
  --gray-1: #23262f;
  --gray-2: #353945;
  --gray-3: #777e91;
  --gray-4: #b1b5c4;
  --gray-5: #e6e8ec;
  --gray-6: #f4f5f6;

  --primary-font: "Inter", sans-serif;
  --secondary-font: "DM Sans", sans-serif;
  --third-font: "Roboto", sans-serif;
}
