/* Footer */
.footer {
  padding: 70px 0;
}

.footer-container {
  max-width: 1130px;
}

.footer-top {
  margin-bottom: 70px;
}

.footer-columns {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}

.footer-heading {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(36 / 24);
  color: var(--gray-2);
  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-link {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--gray-2);
}

.footer-column:first-child {
  max-width: 268px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 40px;
}

.footer-decs {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  margin-bottom: 30px;
}

.subscribe {
  border: solid 2px var(--gray-5);
  border-radius: 100rem;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscribe-email {
  color: black;
  font-weight: 500;
  font-size: 16px;
  padding-inline: 18px;
  line-height: calc(24 / 16);
  width: 100%;
}

.subscribe-button {
  padding: 10px;
  border-radius: 30px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.subscribe-email::-webkit-input-placeholder {
  color: var(--gray-4);
}
.subscribe-email::-moz-input-placeholder {
  color: var(--gray-4);
}

.footer-bottom {
  border-top: solid 2px var(--gray-5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.footer-copyright {
  color: var(--gray-4);
}

.footer-copyright,
.footer-sn-list {
  margin-top: 40px;
}

.footer-sn-list {
  display: flex;
  align-self: center;
  gap: 14px;
}
