doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Practice Website
        link(rel="shortcut icon", href="./main.css", type="image/x-icon")
    body 
        section.top-tour 
            .container 
                h2.heading Top Bangkok Tours    
                .tour-list 
                    .tour-item 
                        .tour-top
                            img.tour-image(src="https://source.unsplash.com/random", alt="tour-image")
                            span.tour-price $60
                        .tour-contents 
                            h3.tour-title Thailands Ayutthaya Temples Cruise from Bangkok
                            .tour-rating 
                                .tour-review 
                                    .tour-star 
                                        img(src="./img/star.png", alt='tour-rating')
                                    .tour-review-count 4.8 (12 reviews)
                                .tour-duration Duration: 9 hours