
        extends ./views/layout/layout-tour.pug
            block main
                include ./views/home/TopTour
                include ./views/home/Popular
                include ./views/home/Gems
                include ./views/home/Diamond
