.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  padding: 9px 40px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(36 / 24);
  width: fit-content;
  margin-inline: auto;
  border-radius: 100rem;
}
