mixin tourItem()
    .tour-item 
        .tour-top
            img.tour-image(src="https://source.unsplash.com/random", alt="tour-image")
            span.tour-price $60
        .tour-contents 
            h3.tour-title Thailands Ayutthaya Temples Cruise from Bangkok
            .tour-rating 
                .tour-review 
                    .tour-star 
                        img(src="./img/star.png", alt="tour-rating")
                    .tour-review-count 4.8 (12 reviews)
                .tour-duration Duration: 9 hours
            a.tour-button(href ="#",target="_blank", rel="noopener noreferrer") Tours Price $61