body {
  font-family: var(--primary-font);
  font-weight: 400;
  background-color: white;
  font-size: var(--fz-default);
  color: var(--gray3);
  line-height: 1;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 15px;
}

.heading {
  color: black;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 34px;
}
